button{

    width:100%;

    padding:16px;

    border:none;

    border-radius:12px;

    background:#6C63FF;

    color:white;

    font-size:17px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    transform:translateY(-2px);

    background:#564de0;

}