.primary-button{

    width:100%;

    padding:16px;

    border:none;

    border-radius:16px;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    background:linear-gradient(135deg,#4f46e5,#7c3aed);

    color:white;

    transition:.3s;

    box-shadow:0 10px 25px rgba(79,70,229,.25);

}

.primary-button:hover{

    transform:translateY(-3px);

    box-shadow:0 18px 35px rgba(79,70,229,.35);

}

.primary-button:active{

    transform:scale(.98);

}

.danger-button{

    width:100%;

    padding:16px;

    border:none;

    border-radius:16px;

    background:#ef4444;

    color:white;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

    margin-top:15px;

}

.danger-button:hover{

    background:#dc2626;

}

button:disabled{

    opacity:.6;

    cursor:not-allowed;

}