.record-status{

    display:flex;

    align-items:center;

    gap:10px;

    color:var(--danger-color);

    font-weight:600;

}

.record-dot{

    width:10px;

    height:10px;

    background:red;

    border-radius:50%;

    animation:pulse 1s infinite;

}

.timer-text{

    text-align:center;

    font-size:42px;

    margin-bottom:20px;

}

.wave{

    display:flex;

    justify-content:center;

    align-items:flex-end;

    gap:5px;

    height:60px;

}

.wave span{

    width:6px;

    background:var(--primary-color);

    border-radius:20px;

    animation:wave 1s infinite ease-in-out;

}

.wave span:nth-child(1){height:18px;}
.wave span:nth-child(2){height:30px;}
.wave span:nth-child(3){height:42px;}
.wave span:nth-child(4){height:55px;}
.wave span:nth-child(5){height:42px;}
.wave span:nth-child(6){height:30px;}
.wave span:nth-child(7){height:18px;}
.wave span:nth-child(8){height:10px;}

.security-content{

    text-align:center;

}

.security-content h3{

    margin-bottom:10px;

}

@keyframes pulse{

    0%{

        opacity:.2;

    }

    50%{

        opacity:1;

    }

    100%{

        opacity:.2;

    }

}

@keyframes wave{

    0%,100%{

        transform:scaleY(.5);

    }

    50%{

        transform:scaleY(1);

    }

}