:root{

    --primary:#6C63FF;
    --primary-dark:#574fd6;

    --secondary:#5B8DEF;

    --success:#22C55E;
    --danger:#EF4444;
    --warning:#F59E0B;

    --text-dark:#1F2937;
    --text-light:#6B7280;

    --white:#FFFFFF;

    --background-start:#EEF2FF;
    --background-end:#DDEBFF;

    --card-background:rgba(255,255,255,.95);

    --border:#E5E7EB;

    --shadow-small:0 4px 12px rgba(0,0,0,.08);

    --shadow-medium:0 8px 25px rgba(0,0,0,.12);

    --shadow-large:0 20px 40px rgba(0,0,0,.15);

    --radius-small:12px;
    --radius-medium:18px;
    --radius-large:24px;

    --transition:.30s ease;

}